body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    background-color: #1fc9c9;
    padding: 1em;
    transition: background-color 0.3s;
}

nav.scrolled {
    background-color: #1f318c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e63c74;
    color: #fff;
}

section {
    padding: 100px 20px;
    margin-top: 70px; /* height of the navbar */
}
